body {
  background-color: #597A88;
  color: #ffff;
}
nav {
  background-color: #003F52;
  text-align: center;
  position: relative;
  height: 60px;
}

#container {
  text-align: left;
}
#all-options {
  text-align: center;
  justify-content: center;
  margin: auto 30px 0 30px;
}

#ex-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  /* margin-right: 30px; */
  margin: auto 50px 0 50px;

}

#in-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  /* margin-left: 10px; */
  /* margin-right: 10px; */
  margin: auto 50px 0 50px;
  
}
#full-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  /* margin-left: 100px; */
  margin: auto 50px 0 50px;
}
/* .banner img{
  height: 600px;
  width: 60%;
  margin-left: 10%;

} */


footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #003F52;
}