body {
  background-color: #597A88;
  color: #ffff;
}
nav {
  background-color: #003F52;
  text-align: center;
  position: relative;
  height: 60px;
}

#container {
  text-align: left;
}
#all-options {
  text-align: center;
  justify-content: center;
  /* margin-left: 10%; */
}

#ex-clean {
  height: 300px;
}
/* .banner img{
  height: 600px;
  width: 60%;
  margin-left: 10%;

} */


footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: #003F52;
}