* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #597A88;
  color: #ffff;
  width: 100%;
  overflow-x: hidden;
}
nav {
  background-color: #003F52;
  text-align: center;
  position: relative;
  height: 60px;
}

h2 {
  margin-left: 30px;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner img{
  max-height: 800px;
}

#all-options {
  text-align: center;
  justify-content: center;
}

#price-1 {
  align-content: flex-end;
}

#ex-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  margin: auto 50px 0 50px;

}

#in-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  margin: auto 50px 0 50px;
  
}
#full-clean {
  height: 300px;
  width: 250px;
  background-color: #007090;
  /* margin-left: 100px; */
  margin: auto 50px 0 50px;
}


#testemonial_1 {
  justify-content: center;
}

#testemonial_2 {
  justify-content: center;
}
#test_1 {
  height: 220px;
  width: 350px;
  background-color: #007090;
}
#test_2 {
  height: 220px;
  width: 350px;
  background-color: #007090;
}

#car {
  margin-left: 8rem;
  width: 50%;
  max-width: 100%;
}

.btn-light {
  background-color: #003F52;
  color: white;
  transition: background-color .3s erase;
}

.btn-light:hover {
  background-color: #007090;
  color: white;
}

footer {
  text-align: center;
  padding-top: 25px;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  background-color: #003F52;
}